<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.AcctReconciliationMapper">
  <resultMap id="BaseResultMap" type="com.psbc.pojo.AcctReconciliation">
    <id column="AppSheetSerialNo" jdbcType="VARCHAR" property="appsheetserialno" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="InstReprIDCode" jdbcType="VARCHAR" property="instrepridcode" />
    <result column="InstReprIDType" jdbcType="VARCHAR" property="instrepridtype" />
    <result column="InstReprName" jdbcType="VARCHAR" property="instreprname" />
    <result column="CertificateType" jdbcType="VARCHAR" property="certificatetype" />
    <result column="CertificateNo" jdbcType="VARCHAR" property="certificateno" />
    <result column="InvestorName" jdbcType="VARCHAR" property="investorname" />
    <result column="TransactionDate" jdbcType="VARCHAR" property="transactiondate" />
    <result column="TransactionTime" jdbcType="VARCHAR" property="transactiontime" />
    <result column="IndividualOrInstitution" jdbcType="VARCHAR" property="individualorinstitution" />
    <result column="InstitutionType" jdbcType="VARCHAR" property="institutiontype" />
    <result column="PostCode" jdbcType="VARCHAR" property="postcode" />
    <result column="TransactorCertNo" jdbcType="VARCHAR" property="transactorcertno" />
    <result column="TransactorCertType" jdbcType="VARCHAR" property="transactorcerttype" />
    <result column="TransactorName" jdbcType="VARCHAR" property="transactorname" />
    <result column="TransactionAccountID" jdbcType="VARCHAR" property="transactionaccountid" />
    <result column="DistributorCode" jdbcType="VARCHAR" property="distributorcode" />
    <result column="BusinessCode" jdbcType="VARCHAR" property="businesscode" />
    <result column="TargetTransactionAccountID" jdbcType="VARCHAR" property="targettransactionaccountid" />
    <result column="AcctNoOfFMInClearingAgency" jdbcType="VARCHAR" property="acctnooffminclearingagency" />
    <result column="AcctNameOfFMInClearingAgency" jdbcType="VARCHAR" property="acctnameoffminclearingagency" />
    <result column="ClearingAgencyCode" jdbcType="VARCHAR" property="clearingagencycode" />
    <result column="InvestorsBirthday" jdbcType="VARCHAR" property="investorsbirthday" />
    <result column="DepositAcct" jdbcType="VARCHAR" property="depositacct" />
    <result column="RegionCode" jdbcType="VARCHAR" property="regioncode" />
    <result column="EducationLevel" jdbcType="VARCHAR" property="educationlevel" />
    <result column="EmailAddress" jdbcType="VARCHAR" property="emailaddress" />
    <result column="FaxNo" jdbcType="VARCHAR" property="faxno" />
    <result column="VocationCode" jdbcType="VARCHAR" property="vocationcode" />
    <result column="HomeTelNo" jdbcType="VARCHAR" property="hometelno" />
    <result column="AnnualIncome" jdbcType="DECIMAL" property="annualincome" />
    <result column="MobileTelNo" jdbcType="VARCHAR" property="mobiletelno" />
    <result column="MultiAcctFlag" jdbcType="VARCHAR" property="multiacctflag" />
    <result column="BranchCode" jdbcType="VARCHAR" property="branchcode" />
    <result column="OfficeTelNo" jdbcType="VARCHAR" property="officetelno" />
    <result column="AccountAbbr" jdbcType="VARCHAR" property="accountabbr" />
    <result column="ConfidentialDocumentCode" jdbcType="VARCHAR" property="confidentialdocumentcode" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="SHSecuritiesAccountID" jdbcType="VARCHAR" property="shsecuritiesaccountid" />
    <result column="SZSecuritiesAccountID" jdbcType="VARCHAR" property="szsecuritiesaccountid" />
    <result column="TAAccountID" jdbcType="VARCHAR" property="taaccountid" />
    <result column="TelNo" jdbcType="VARCHAR" property="telno" />
    <result column="TradingMethod" jdbcType="VARCHAR" property="tradingmethod" />
    <result column="MinorFlag" jdbcType="VARCHAR" property="minorflag" />
    <result column="DeliverType" jdbcType="VARCHAR" property="delivertype" />
    <result column="TransactorIDType" jdbcType="VARCHAR" property="transactoridtype" />
    <result column="AccountCardID" jdbcType="VARCHAR" property="accountcardid" />
    <result column="DeliverWay" jdbcType="VARCHAR" property="deliverway" />
    <result column="Nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="NetNo" jdbcType="VARCHAR" property="netno" />
    <result column="Broker" jdbcType="VARCHAR" property="broker" />
    <result column="CorpName" jdbcType="VARCHAR" property="corpname" />
    <result column="CertValidDate" jdbcType="VARCHAR" property="certvaliddate" />
    <result column="InstTranCertValidDate" jdbcType="VARCHAR" property="insttrancertvaliddate" />
    <result column="InstReprCertValidDate" jdbcType="VARCHAR" property="instreprcertvaliddate" />
    <result column="ClientRiskRate" jdbcType="VARCHAR" property="clientriskrate" />
    <result column="InstReprManageRange" jdbcType="VARCHAR" property="instreprmanagerange" />
    <result column="ControlHolder" jdbcType="VARCHAR" property="controlholder" />
    <result column="ActualController" jdbcType="VARCHAR" property="actualcontroller" />
    <result column="MarriageStatus" jdbcType="VARCHAR" property="marriagestatus" />
    <result column="FamilyNum" jdbcType="INTEGER" property="familynum" />
    <result column="Penates" jdbcType="DECIMAL" property="penates" />
    <result column="MediaHobby" jdbcType="VARCHAR" property="mediahobby" />
    <result column="EnglishFirstName" jdbcType="VARCHAR" property="englishfirstname" />
    <result column="EnglishFamliyName" jdbcType="VARCHAR" property="englishfamliyname" />
    <result column="Vocation" jdbcType="VARCHAR" property="vocation" />
    <result column="CorpoProperty" jdbcType="VARCHAR" property="corpoproperty" />
    <result column="StaffNum" jdbcType="INTEGER" property="staffnum" />
    <result column="Hobbytype" jdbcType="VARCHAR" property="hobbytype" />
    <result column="Province" jdbcType="VARCHAR" property="province" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="County" jdbcType="VARCHAR" property="county" />
    <result column="CommendPerson" jdbcType="VARCHAR" property="commendperson" />
    <result column="CommendPersonType" jdbcType="VARCHAR" property="commendpersontype" />
    <result column="AcctNameOfInvestorInClearingAgency" jdbcType="VARCHAR" property="acctnameofinvestorinclearingagency" />
    <result column="AcctNoOfInvestorInClearingAgency" jdbcType="VARCHAR" property="acctnoofinvestorinclearingagency" />
    <result column="ClearingAgency" jdbcType="VARCHAR" property="clearingagency" />
    <result column="AcceptMethod" jdbcType="VARCHAR" property="acceptmethod" />
    <result column="FrozenCause" jdbcType="VARCHAR" property="frozencause" />
    <result column="FreezingDeadline" jdbcType="VARCHAR" property="freezingdeadline" />
    <result column="OriginalSerialNo" jdbcType="VARCHAR" property="originalserialno" />
    <result column="OriginalAppSheetNo" jdbcType="VARCHAR" property="originalappsheetno" />
    <result column="Specification" jdbcType="VARCHAR" property="specification" />
    <result column="TACode" jdbcType="VARCHAR" property="tacode" />
    <result column="ReferenceNumber" jdbcType="INTEGER" property="referencenumber" />
  </resultMap>
  <sql id="Base_Column_List">
    AppSheetSerialNo, Address, InstReprIDCode, InstReprIDType, InstReprName, CertificateType, 
    CertificateNo, InvestorName, TransactionDate, TransactionTime, IndividualOrInstitution, 
    InstitutionType, PostCode, TransactorCertNo, TransactorCertType, TransactorName, 
    TransactionAccountID, DistributorCode, BusinessCode, TargetTransactionAccountID, 
    AcctNoOfFMInClearingAgency, AcctNameOfFMInClearingAgency, ClearingAgencyCode, InvestorsBirthday, 
    DepositAcct, RegionCode, EducationLevel, EmailAddress, FaxNo, VocationCode, HomeTelNo, 
    AnnualIncome, MobileTelNo, MultiAcctFlag, BranchCode, OfficeTelNo, AccountAbbr, ConfidentialDocumentCode, 
    Sex, SHSecuritiesAccountID, SZSecuritiesAccountID, TAAccountID, TelNo, TradingMethod, 
    MinorFlag, DeliverType, TransactorIDType, AccountCardID, DeliverWay, Nationality, 
    NetNo, Broker, CorpName, CertValidDate, InstTranCertValidDate, InstReprCertValidDate, 
    ClientRiskRate, InstReprManageRange, ControlHolder, ActualController, MarriageStatus, 
    FamilyNum, Penates, MediaHobby, EnglishFirstName, EnglishFamliyName, Vocation, CorpoProperty, 
    StaffNum, Hobbytype, Province, City, County, CommendPerson, CommendPersonType, AcctNameOfInvestorInClearingAgency, 
    AcctNoOfInvestorInClearingAgency, ClearingAgency, AcceptMethod, FrozenCause, FreezingDeadline, 
    OriginalSerialNo, OriginalAppSheetNo, Specification, TACode, ReferenceNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_application
    where AppSheetSerialNo = #{appsheetserialno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account_application
    where AppSheetSerialNo = #{appsheetserialno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.psbc.pojo.AcctReconciliation">
    insert into account_application (AppSheetSerialNo, Address, InstReprIDCode, 
      InstReprIDType, InstReprName, CertificateType, 
      CertificateNo, InvestorName, TransactionDate, 
      TransactionTime, IndividualOrInstitution, 
      InstitutionType, PostCode, TransactorCertNo, 
      TransactorCertType, TransactorName, TransactionAccountID, 
      DistributorCode, BusinessCode, TargetTransactionAccountID, 
      AcctNoOfFMInClearingAgency, AcctNameOfFMInClearingAgency, 
      ClearingAgencyCode, InvestorsBirthday, 
      DepositAcct, RegionCode, EducationLevel, 
      EmailAddress, FaxNo, VocationCode, 
      HomeTelNo, AnnualIncome, MobileTelNo, 
      MultiAcctFlag, BranchCode, OfficeTelNo, 
      AccountAbbr, ConfidentialDocumentCode, 
      Sex, SHSecuritiesAccountID, SZSecuritiesAccountID, 
      TAAccountID, TelNo, TradingMethod, 
      MinorFlag, DeliverType, TransactorIDType, 
      AccountCardID, DeliverWay, Nationality, 
      NetNo, Broker, CorpName, 
      CertValidDate, InstTranCertValidDate, InstReprCertValidDate, 
      ClientRiskRate, InstReprManageRange, ControlHolder, 
      ActualController, MarriageStatus, FamilyNum, 
      Penates, MediaHobby, EnglishFirstName, 
      EnglishFamliyName, Vocation, CorpoProperty, 
      StaffNum, Hobbytype, Province, 
      City, County, CommendPerson, 
      CommendPersonType, AcctNameOfInvestorInClearingAgency, 
      AcctNoOfInvestorInClearingAgency, ClearingAgency, 
      AcceptMethod, FrozenCause, FreezingDeadline, 
      OriginalSerialNo, OriginalAppSheetNo, Specification, 
      TACode, ReferenceNumber)
    values (#{appsheetserialno,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{instrepridcode,jdbcType=VARCHAR}, 
      #{instrepridtype,jdbcType=VARCHAR}, #{instreprname,jdbcType=VARCHAR}, #{certificatetype,jdbcType=VARCHAR}, 
      #{certificateno,jdbcType=VARCHAR}, #{investorname,jdbcType=VARCHAR}, #{transactiondate,jdbcType=VARCHAR}, 
      #{transactiontime,jdbcType=VARCHAR}, #{individualorinstitution,jdbcType=VARCHAR}, 
      #{institutiontype,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{transactorcertno,jdbcType=VARCHAR}, 
      #{transactorcerttype,jdbcType=VARCHAR}, #{transactorname,jdbcType=VARCHAR}, #{transactionaccountid,jdbcType=VARCHAR}, 
      #{distributorcode,jdbcType=VARCHAR}, #{businesscode,jdbcType=VARCHAR}, #{targettransactionaccountid,jdbcType=VARCHAR}, 
      #{acctnooffminclearingagency,jdbcType=VARCHAR}, #{acctnameoffminclearingagency,jdbcType=VARCHAR}, 
      #{clearingagencycode,jdbcType=VARCHAR}, #{investorsbirthday,jdbcType=VARCHAR}, 
      #{depositacct,jdbcType=VARCHAR}, #{regioncode,jdbcType=VARCHAR}, #{educationlevel,jdbcType=VARCHAR}, 
      #{emailaddress,jdbcType=VARCHAR}, #{faxno,jdbcType=VARCHAR}, #{vocationcode,jdbcType=VARCHAR}, 
      #{hometelno,jdbcType=VARCHAR}, #{annualincome,jdbcType=DECIMAL}, #{mobiletelno,jdbcType=VARCHAR}, 
      #{multiacctflag,jdbcType=VARCHAR}, #{branchcode,jdbcType=VARCHAR}, #{officetelno,jdbcType=VARCHAR}, 
      #{accountabbr,jdbcType=VARCHAR}, #{confidentialdocumentcode,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{shsecuritiesaccountid,jdbcType=VARCHAR}, #{szsecuritiesaccountid,jdbcType=VARCHAR}, 
      #{taaccountid,jdbcType=VARCHAR}, #{telno,jdbcType=VARCHAR}, #{tradingmethod,jdbcType=VARCHAR}, 
      #{minorflag,jdbcType=VARCHAR}, #{delivertype,jdbcType=VARCHAR}, #{transactoridtype,jdbcType=VARCHAR}, 
      #{accountcardid,jdbcType=VARCHAR}, #{deliverway,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, 
      #{netno,jdbcType=VARCHAR}, #{broker,jdbcType=VARCHAR}, #{corpname,jdbcType=VARCHAR}, 
      #{certvaliddate,jdbcType=VARCHAR}, #{insttrancertvaliddate,jdbcType=VARCHAR}, #{instreprcertvaliddate,jdbcType=VARCHAR}, 
      #{clientriskrate,jdbcType=VARCHAR}, #{instreprmanagerange,jdbcType=VARCHAR}, #{controlholder,jdbcType=VARCHAR}, 
      #{actualcontroller,jdbcType=VARCHAR}, #{marriagestatus,jdbcType=VARCHAR}, #{familynum,jdbcType=INTEGER}, 
      #{penates,jdbcType=DECIMAL}, #{mediahobby,jdbcType=VARCHAR}, #{englishfirstname,jdbcType=VARCHAR}, 
      #{englishfamliyname,jdbcType=VARCHAR}, #{vocation,jdbcType=VARCHAR}, #{corpoproperty,jdbcType=VARCHAR}, 
      #{staffnum,jdbcType=INTEGER}, #{hobbytype,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{commendperson,jdbcType=VARCHAR}, 
      #{commendpersontype,jdbcType=VARCHAR}, #{acctnameofinvestorinclearingagency,jdbcType=VARCHAR}, 
      #{acctnoofinvestorinclearingagency,jdbcType=VARCHAR}, #{clearingagency,jdbcType=VARCHAR}, 
      #{acceptmethod,jdbcType=VARCHAR}, #{frozencause,jdbcType=VARCHAR}, #{freezingdeadline,jdbcType=VARCHAR}, 
      #{originalserialno,jdbcType=VARCHAR}, #{originalappsheetno,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{tacode,jdbcType=VARCHAR}, #{referencenumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.psbc.pojo.AcctReconciliation">
    insert into account_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appsheetserialno != null">
        AppSheetSerialNo,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="instrepridcode != null">
        InstReprIDCode,
      </if>
      <if test="instrepridtype != null">
        InstReprIDType,
      </if>
      <if test="instreprname != null">
        InstReprName,
      </if>
      <if test="certificatetype != null">
        CertificateType,
      </if>
      <if test="certificateno != null">
        CertificateNo,
      </if>
      <if test="investorname != null">
        InvestorName,
      </if>
      <if test="transactiondate != null">
        TransactionDate,
      </if>
      <if test="transactiontime != null">
        TransactionTime,
      </if>
      <if test="individualorinstitution != null">
        IndividualOrInstitution,
      </if>
      <if test="institutiontype != null">
        InstitutionType,
      </if>
      <if test="postcode != null">
        PostCode,
      </if>
      <if test="transactorcertno != null">
        TransactorCertNo,
      </if>
      <if test="transactorcerttype != null">
        TransactorCertType,
      </if>
      <if test="transactorname != null">
        TransactorName,
      </if>
      <if test="transactionaccountid != null">
        TransactionAccountID,
      </if>
      <if test="distributorcode != null">
        DistributorCode,
      </if>
      <if test="businesscode != null">
        BusinessCode,
      </if>
      <if test="targettransactionaccountid != null">
        TargetTransactionAccountID,
      </if>
      <if test="acctnooffminclearingagency != null">
        AcctNoOfFMInClearingAgency,
      </if>
      <if test="acctnameoffminclearingagency != null">
        AcctNameOfFMInClearingAgency,
      </if>
      <if test="clearingagencycode != null">
        ClearingAgencyCode,
      </if>
      <if test="investorsbirthday != null">
        InvestorsBirthday,
      </if>
      <if test="depositacct != null">
        DepositAcct,
      </if>
      <if test="regioncode != null">
        RegionCode,
      </if>
      <if test="educationlevel != null">
        EducationLevel,
      </if>
      <if test="emailaddress != null">
        EmailAddress,
      </if>
      <if test="faxno != null">
        FaxNo,
      </if>
      <if test="vocationcode != null">
        VocationCode,
      </if>
      <if test="hometelno != null">
        HomeTelNo,
      </if>
      <if test="annualincome != null">
        AnnualIncome,
      </if>
      <if test="mobiletelno != null">
        MobileTelNo,
      </if>
      <if test="multiacctflag != null">
        MultiAcctFlag,
      </if>
      <if test="branchcode != null">
        BranchCode,
      </if>
      <if test="officetelno != null">
        OfficeTelNo,
      </if>
      <if test="accountabbr != null">
        AccountAbbr,
      </if>
      <if test="confidentialdocumentcode != null">
        ConfidentialDocumentCode,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="shsecuritiesaccountid != null">
        SHSecuritiesAccountID,
      </if>
      <if test="szsecuritiesaccountid != null">
        SZSecuritiesAccountID,
      </if>
      <if test="taaccountid != null">
        TAAccountID,
      </if>
      <if test="telno != null">
        TelNo,
      </if>
      <if test="tradingmethod != null">
        TradingMethod,
      </if>
      <if test="minorflag != null">
        MinorFlag,
      </if>
      <if test="delivertype != null">
        DeliverType,
      </if>
      <if test="transactoridtype != null">
        TransactorIDType,
      </if>
      <if test="accountcardid != null">
        AccountCardID,
      </if>
      <if test="deliverway != null">
        DeliverWay,
      </if>
      <if test="nationality != null">
        Nationality,
      </if>
      <if test="netno != null">
        NetNo,
      </if>
      <if test="broker != null">
        Broker,
      </if>
      <if test="corpname != null">
        CorpName,
      </if>
      <if test="certvaliddate != null">
        CertValidDate,
      </if>
      <if test="insttrancertvaliddate != null">
        InstTranCertValidDate,
      </if>
      <if test="instreprcertvaliddate != null">
        InstReprCertValidDate,
      </if>
      <if test="clientriskrate != null">
        ClientRiskRate,
      </if>
      <if test="instreprmanagerange != null">
        InstReprManageRange,
      </if>
      <if test="controlholder != null">
        ControlHolder,
      </if>
      <if test="actualcontroller != null">
        ActualController,
      </if>
      <if test="marriagestatus != null">
        MarriageStatus,
      </if>
      <if test="familynum != null">
        FamilyNum,
      </if>
      <if test="penates != null">
        Penates,
      </if>
      <if test="mediahobby != null">
        MediaHobby,
      </if>
      <if test="englishfirstname != null">
        EnglishFirstName,
      </if>
      <if test="englishfamliyname != null">
        EnglishFamliyName,
      </if>
      <if test="vocation != null">
        Vocation,
      </if>
      <if test="corpoproperty != null">
        CorpoProperty,
      </if>
      <if test="staffnum != null">
        StaffNum,
      </if>
      <if test="hobbytype != null">
        Hobbytype,
      </if>
      <if test="province != null">
        Province,
      </if>
      <if test="city != null">
        City,
      </if>
      <if test="county != null">
        County,
      </if>
      <if test="commendperson != null">
        CommendPerson,
      </if>
      <if test="commendpersontype != null">
        CommendPersonType,
      </if>
      <if test="acctnameofinvestorinclearingagency != null">
        AcctNameOfInvestorInClearingAgency,
      </if>
      <if test="acctnoofinvestorinclearingagency != null">
        AcctNoOfInvestorInClearingAgency,
      </if>
      <if test="clearingagency != null">
        ClearingAgency,
      </if>
      <if test="acceptmethod != null">
        AcceptMethod,
      </if>
      <if test="frozencause != null">
        FrozenCause,
      </if>
      <if test="freezingdeadline != null">
        FreezingDeadline,
      </if>
      <if test="originalserialno != null">
        OriginalSerialNo,
      </if>
      <if test="originalappsheetno != null">
        OriginalAppSheetNo,
      </if>
      <if test="specification != null">
        Specification,
      </if>
      <if test="tacode != null">
        TACode,
      </if>
      <if test="referencenumber != null">
        ReferenceNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appsheetserialno != null">
        #{appsheetserialno,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="instrepridcode != null">
        #{instrepridcode,jdbcType=VARCHAR},
      </if>
      <if test="instrepridtype != null">
        #{instrepridtype,jdbcType=VARCHAR},
      </if>
      <if test="instreprname != null">
        #{instreprname,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null">
        #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="certificateno != null">
        #{certificateno,jdbcType=VARCHAR},
      </if>
      <if test="investorname != null">
        #{investorname,jdbcType=VARCHAR},
      </if>
      <if test="transactiondate != null">
        #{transactiondate,jdbcType=VARCHAR},
      </if>
      <if test="transactiontime != null">
        #{transactiontime,jdbcType=VARCHAR},
      </if>
      <if test="individualorinstitution != null">
        #{individualorinstitution,jdbcType=VARCHAR},
      </if>
      <if test="institutiontype != null">
        #{institutiontype,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="transactorcertno != null">
        #{transactorcertno,jdbcType=VARCHAR},
      </if>
      <if test="transactorcerttype != null">
        #{transactorcerttype,jdbcType=VARCHAR},
      </if>
      <if test="transactorname != null">
        #{transactorname,jdbcType=VARCHAR},
      </if>
      <if test="transactionaccountid != null">
        #{transactionaccountid,jdbcType=VARCHAR},
      </if>
      <if test="distributorcode != null">
        #{distributorcode,jdbcType=VARCHAR},
      </if>
      <if test="businesscode != null">
        #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="targettransactionaccountid != null">
        #{targettransactionaccountid,jdbcType=VARCHAR},
      </if>
      <if test="acctnooffminclearingagency != null">
        #{acctnooffminclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acctnameoffminclearingagency != null">
        #{acctnameoffminclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="clearingagencycode != null">
        #{clearingagencycode,jdbcType=VARCHAR},
      </if>
      <if test="investorsbirthday != null">
        #{investorsbirthday,jdbcType=VARCHAR},
      </if>
      <if test="depositacct != null">
        #{depositacct,jdbcType=VARCHAR},
      </if>
      <if test="regioncode != null">
        #{regioncode,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null">
        #{educationlevel,jdbcType=VARCHAR},
      </if>
      <if test="emailaddress != null">
        #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="faxno != null">
        #{faxno,jdbcType=VARCHAR},
      </if>
      <if test="vocationcode != null">
        #{vocationcode,jdbcType=VARCHAR},
      </if>
      <if test="hometelno != null">
        #{hometelno,jdbcType=VARCHAR},
      </if>
      <if test="annualincome != null">
        #{annualincome,jdbcType=DECIMAL},
      </if>
      <if test="mobiletelno != null">
        #{mobiletelno,jdbcType=VARCHAR},
      </if>
      <if test="multiacctflag != null">
        #{multiacctflag,jdbcType=VARCHAR},
      </if>
      <if test="branchcode != null">
        #{branchcode,jdbcType=VARCHAR},
      </if>
      <if test="officetelno != null">
        #{officetelno,jdbcType=VARCHAR},
      </if>
      <if test="accountabbr != null">
        #{accountabbr,jdbcType=VARCHAR},
      </if>
      <if test="confidentialdocumentcode != null">
        #{confidentialdocumentcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shsecuritiesaccountid != null">
        #{shsecuritiesaccountid,jdbcType=VARCHAR},
      </if>
      <if test="szsecuritiesaccountid != null">
        #{szsecuritiesaccountid,jdbcType=VARCHAR},
      </if>
      <if test="taaccountid != null">
        #{taaccountid,jdbcType=VARCHAR},
      </if>
      <if test="telno != null">
        #{telno,jdbcType=VARCHAR},
      </if>
      <if test="tradingmethod != null">
        #{tradingmethod,jdbcType=VARCHAR},
      </if>
      <if test="minorflag != null">
        #{minorflag,jdbcType=VARCHAR},
      </if>
      <if test="delivertype != null">
        #{delivertype,jdbcType=VARCHAR},
      </if>
      <if test="transactoridtype != null">
        #{transactoridtype,jdbcType=VARCHAR},
      </if>
      <if test="accountcardid != null">
        #{accountcardid,jdbcType=VARCHAR},
      </if>
      <if test="deliverway != null">
        #{deliverway,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="netno != null">
        #{netno,jdbcType=VARCHAR},
      </if>
      <if test="broker != null">
        #{broker,jdbcType=VARCHAR},
      </if>
      <if test="corpname != null">
        #{corpname,jdbcType=VARCHAR},
      </if>
      <if test="certvaliddate != null">
        #{certvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="insttrancertvaliddate != null">
        #{insttrancertvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="instreprcertvaliddate != null">
        #{instreprcertvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="clientriskrate != null">
        #{clientriskrate,jdbcType=VARCHAR},
      </if>
      <if test="instreprmanagerange != null">
        #{instreprmanagerange,jdbcType=VARCHAR},
      </if>
      <if test="controlholder != null">
        #{controlholder,jdbcType=VARCHAR},
      </if>
      <if test="actualcontroller != null">
        #{actualcontroller,jdbcType=VARCHAR},
      </if>
      <if test="marriagestatus != null">
        #{marriagestatus,jdbcType=VARCHAR},
      </if>
      <if test="familynum != null">
        #{familynum,jdbcType=INTEGER},
      </if>
      <if test="penates != null">
        #{penates,jdbcType=DECIMAL},
      </if>
      <if test="mediahobby != null">
        #{mediahobby,jdbcType=VARCHAR},
      </if>
      <if test="englishfirstname != null">
        #{englishfirstname,jdbcType=VARCHAR},
      </if>
      <if test="englishfamliyname != null">
        #{englishfamliyname,jdbcType=VARCHAR},
      </if>
      <if test="vocation != null">
        #{vocation,jdbcType=VARCHAR},
      </if>
      <if test="corpoproperty != null">
        #{corpoproperty,jdbcType=VARCHAR},
      </if>
      <if test="staffnum != null">
        #{staffnum,jdbcType=INTEGER},
      </if>
      <if test="hobbytype != null">
        #{hobbytype,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="commendperson != null">
        #{commendperson,jdbcType=VARCHAR},
      </if>
      <if test="commendpersontype != null">
        #{commendpersontype,jdbcType=VARCHAR},
      </if>
      <if test="acctnameofinvestorinclearingagency != null">
        #{acctnameofinvestorinclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acctnoofinvestorinclearingagency != null">
        #{acctnoofinvestorinclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="clearingagency != null">
        #{clearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acceptmethod != null">
        #{acceptmethod,jdbcType=VARCHAR},
      </if>
      <if test="frozencause != null">
        #{frozencause,jdbcType=VARCHAR},
      </if>
      <if test="freezingdeadline != null">
        #{freezingdeadline,jdbcType=VARCHAR},
      </if>
      <if test="originalserialno != null">
        #{originalserialno,jdbcType=VARCHAR},
      </if>
      <if test="originalappsheetno != null">
        #{originalappsheetno,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="tacode != null">
        #{tacode,jdbcType=VARCHAR},
      </if>
      <if test="referencenumber != null">
        #{referencenumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.psbc.pojo.AcctReconciliation">
    update account_application
    <set>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="instrepridcode != null">
        InstReprIDCode = #{instrepridcode,jdbcType=VARCHAR},
      </if>
      <if test="instrepridtype != null">
        InstReprIDType = #{instrepridtype,jdbcType=VARCHAR},
      </if>
      <if test="instreprname != null">
        InstReprName = #{instreprname,jdbcType=VARCHAR},
      </if>
      <if test="certificatetype != null">
        CertificateType = #{certificatetype,jdbcType=VARCHAR},
      </if>
      <if test="certificateno != null">
        CertificateNo = #{certificateno,jdbcType=VARCHAR},
      </if>
      <if test="investorname != null">
        InvestorName = #{investorname,jdbcType=VARCHAR},
      </if>
      <if test="transactiondate != null">
        TransactionDate = #{transactiondate,jdbcType=VARCHAR},
      </if>
      <if test="transactiontime != null">
        TransactionTime = #{transactiontime,jdbcType=VARCHAR},
      </if>
      <if test="individualorinstitution != null">
        IndividualOrInstitution = #{individualorinstitution,jdbcType=VARCHAR},
      </if>
      <if test="institutiontype != null">
        InstitutionType = #{institutiontype,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        PostCode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="transactorcertno != null">
        TransactorCertNo = #{transactorcertno,jdbcType=VARCHAR},
      </if>
      <if test="transactorcerttype != null">
        TransactorCertType = #{transactorcerttype,jdbcType=VARCHAR},
      </if>
      <if test="transactorname != null">
        TransactorName = #{transactorname,jdbcType=VARCHAR},
      </if>
      <if test="transactionaccountid != null">
        TransactionAccountID = #{transactionaccountid,jdbcType=VARCHAR},
      </if>
      <if test="distributorcode != null">
        DistributorCode = #{distributorcode,jdbcType=VARCHAR},
      </if>
      <if test="businesscode != null">
        BusinessCode = #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="targettransactionaccountid != null">
        TargetTransactionAccountID = #{targettransactionaccountid,jdbcType=VARCHAR},
      </if>
      <if test="acctnooffminclearingagency != null">
        AcctNoOfFMInClearingAgency = #{acctnooffminclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acctnameoffminclearingagency != null">
        AcctNameOfFMInClearingAgency = #{acctnameoffminclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="clearingagencycode != null">
        ClearingAgencyCode = #{clearingagencycode,jdbcType=VARCHAR},
      </if>
      <if test="investorsbirthday != null">
        InvestorsBirthday = #{investorsbirthday,jdbcType=VARCHAR},
      </if>
      <if test="depositacct != null">
        DepositAcct = #{depositacct,jdbcType=VARCHAR},
      </if>
      <if test="regioncode != null">
        RegionCode = #{regioncode,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null">
        EducationLevel = #{educationlevel,jdbcType=VARCHAR},
      </if>
      <if test="emailaddress != null">
        EmailAddress = #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="faxno != null">
        FaxNo = #{faxno,jdbcType=VARCHAR},
      </if>
      <if test="vocationcode != null">
        VocationCode = #{vocationcode,jdbcType=VARCHAR},
      </if>
      <if test="hometelno != null">
        HomeTelNo = #{hometelno,jdbcType=VARCHAR},
      </if>
      <if test="annualincome != null">
        AnnualIncome = #{annualincome,jdbcType=DECIMAL},
      </if>
      <if test="mobiletelno != null">
        MobileTelNo = #{mobiletelno,jdbcType=VARCHAR},
      </if>
      <if test="multiacctflag != null">
        MultiAcctFlag = #{multiacctflag,jdbcType=VARCHAR},
      </if>
      <if test="branchcode != null">
        BranchCode = #{branchcode,jdbcType=VARCHAR},
      </if>
      <if test="officetelno != null">
        OfficeTelNo = #{officetelno,jdbcType=VARCHAR},
      </if>
      <if test="accountabbr != null">
        AccountAbbr = #{accountabbr,jdbcType=VARCHAR},
      </if>
      <if test="confidentialdocumentcode != null">
        ConfidentialDocumentCode = #{confidentialdocumentcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="shsecuritiesaccountid != null">
        SHSecuritiesAccountID = #{shsecuritiesaccountid,jdbcType=VARCHAR},
      </if>
      <if test="szsecuritiesaccountid != null">
        SZSecuritiesAccountID = #{szsecuritiesaccountid,jdbcType=VARCHAR},
      </if>
      <if test="taaccountid != null">
        TAAccountID = #{taaccountid,jdbcType=VARCHAR},
      </if>
      <if test="telno != null">
        TelNo = #{telno,jdbcType=VARCHAR},
      </if>
      <if test="tradingmethod != null">
        TradingMethod = #{tradingmethod,jdbcType=VARCHAR},
      </if>
      <if test="minorflag != null">
        MinorFlag = #{minorflag,jdbcType=VARCHAR},
      </if>
      <if test="delivertype != null">
        DeliverType = #{delivertype,jdbcType=VARCHAR},
      </if>
      <if test="transactoridtype != null">
        TransactorIDType = #{transactoridtype,jdbcType=VARCHAR},
      </if>
      <if test="accountcardid != null">
        AccountCardID = #{accountcardid,jdbcType=VARCHAR},
      </if>
      <if test="deliverway != null">
        DeliverWay = #{deliverway,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        Nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="netno != null">
        NetNo = #{netno,jdbcType=VARCHAR},
      </if>
      <if test="broker != null">
        Broker = #{broker,jdbcType=VARCHAR},
      </if>
      <if test="corpname != null">
        CorpName = #{corpname,jdbcType=VARCHAR},
      </if>
      <if test="certvaliddate != null">
        CertValidDate = #{certvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="insttrancertvaliddate != null">
        InstTranCertValidDate = #{insttrancertvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="instreprcertvaliddate != null">
        InstReprCertValidDate = #{instreprcertvaliddate,jdbcType=VARCHAR},
      </if>
      <if test="clientriskrate != null">
        ClientRiskRate = #{clientriskrate,jdbcType=VARCHAR},
      </if>
      <if test="instreprmanagerange != null">
        InstReprManageRange = #{instreprmanagerange,jdbcType=VARCHAR},
      </if>
      <if test="controlholder != null">
        ControlHolder = #{controlholder,jdbcType=VARCHAR},
      </if>
      <if test="actualcontroller != null">
        ActualController = #{actualcontroller,jdbcType=VARCHAR},
      </if>
      <if test="marriagestatus != null">
        MarriageStatus = #{marriagestatus,jdbcType=VARCHAR},
      </if>
      <if test="familynum != null">
        FamilyNum = #{familynum,jdbcType=INTEGER},
      </if>
      <if test="penates != null">
        Penates = #{penates,jdbcType=DECIMAL},
      </if>
      <if test="mediahobby != null">
        MediaHobby = #{mediahobby,jdbcType=VARCHAR},
      </if>
      <if test="englishfirstname != null">
        EnglishFirstName = #{englishfirstname,jdbcType=VARCHAR},
      </if>
      <if test="englishfamliyname != null">
        EnglishFamliyName = #{englishfamliyname,jdbcType=VARCHAR},
      </if>
      <if test="vocation != null">
        Vocation = #{vocation,jdbcType=VARCHAR},
      </if>
      <if test="corpoproperty != null">
        CorpoProperty = #{corpoproperty,jdbcType=VARCHAR},
      </if>
      <if test="staffnum != null">
        StaffNum = #{staffnum,jdbcType=INTEGER},
      </if>
      <if test="hobbytype != null">
        Hobbytype = #{hobbytype,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        Province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        County = #{county,jdbcType=VARCHAR},
      </if>
      <if test="commendperson != null">
        CommendPerson = #{commendperson,jdbcType=VARCHAR},
      </if>
      <if test="commendpersontype != null">
        CommendPersonType = #{commendpersontype,jdbcType=VARCHAR},
      </if>
      <if test="acctnameofinvestorinclearingagency != null">
        AcctNameOfInvestorInClearingAgency = #{acctnameofinvestorinclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acctnoofinvestorinclearingagency != null">
        AcctNoOfInvestorInClearingAgency = #{acctnoofinvestorinclearingagency,jdbcType=VARCHAR},
      </if>
      <if test="clearingagency != null">
        ClearingAgency = #{clearingagency,jdbcType=VARCHAR},
      </if>
      <if test="acceptmethod != null">
        AcceptMethod = #{acceptmethod,jdbcType=VARCHAR},
      </if>
      <if test="frozencause != null">
        FrozenCause = #{frozencause,jdbcType=VARCHAR},
      </if>
      <if test="freezingdeadline != null">
        FreezingDeadline = #{freezingdeadline,jdbcType=VARCHAR},
      </if>
      <if test="originalserialno != null">
        OriginalSerialNo = #{originalserialno,jdbcType=VARCHAR},
      </if>
      <if test="originalappsheetno != null">
        OriginalAppSheetNo = #{originalappsheetno,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        Specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="tacode != null">
        TACode = #{tacode,jdbcType=VARCHAR},
      </if>
      <if test="referencenumber != null">
        ReferenceNumber = #{referencenumber,jdbcType=INTEGER},
      </if>
    </set>
    where AppSheetSerialNo = #{appsheetserialno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.AcctReconciliation">
    update account_application
    set Address = #{address,jdbcType=VARCHAR},
      InstReprIDCode = #{instrepridcode,jdbcType=VARCHAR},
      InstReprIDType = #{instrepridtype,jdbcType=VARCHAR},
      InstReprName = #{instreprname,jdbcType=VARCHAR},
      CertificateType = #{certificatetype,jdbcType=VARCHAR},
      CertificateNo = #{certificateno,jdbcType=VARCHAR},
      InvestorName = #{investorname,jdbcType=VARCHAR},
      TransactionDate = #{transactiondate,jdbcType=VARCHAR},
      TransactionTime = #{transactiontime,jdbcType=VARCHAR},
      IndividualOrInstitution = #{individualorinstitution,jdbcType=VARCHAR},
      InstitutionType = #{institutiontype,jdbcType=VARCHAR},
      PostCode = #{postcode,jdbcType=VARCHAR},
      TransactorCertNo = #{transactorcertno,jdbcType=VARCHAR},
      TransactorCertType = #{transactorcerttype,jdbcType=VARCHAR},
      TransactorName = #{transactorname,jdbcType=VARCHAR},
      TransactionAccountID = #{transactionaccountid,jdbcType=VARCHAR},
      DistributorCode = #{distributorcode,jdbcType=VARCHAR},
      BusinessCode = #{businesscode,jdbcType=VARCHAR},
      TargetTransactionAccountID = #{targettransactionaccountid,jdbcType=VARCHAR},
      AcctNoOfFMInClearingAgency = #{acctnooffminclearingagency,jdbcType=VARCHAR},
      AcctNameOfFMInClearingAgency = #{acctnameoffminclearingagency,jdbcType=VARCHAR},
      ClearingAgencyCode = #{clearingagencycode,jdbcType=VARCHAR},
      InvestorsBirthday = #{investorsbirthday,jdbcType=VARCHAR},
      DepositAcct = #{depositacct,jdbcType=VARCHAR},
      RegionCode = #{regioncode,jdbcType=VARCHAR},
      EducationLevel = #{educationlevel,jdbcType=VARCHAR},
      EmailAddress = #{emailaddress,jdbcType=VARCHAR},
      FaxNo = #{faxno,jdbcType=VARCHAR},
      VocationCode = #{vocationcode,jdbcType=VARCHAR},
      HomeTelNo = #{hometelno,jdbcType=VARCHAR},
      AnnualIncome = #{annualincome,jdbcType=DECIMAL},
      MobileTelNo = #{mobiletelno,jdbcType=VARCHAR},
      MultiAcctFlag = #{multiacctflag,jdbcType=VARCHAR},
      BranchCode = #{branchcode,jdbcType=VARCHAR},
      OfficeTelNo = #{officetelno,jdbcType=VARCHAR},
      AccountAbbr = #{accountabbr,jdbcType=VARCHAR},
      ConfidentialDocumentCode = #{confidentialdocumentcode,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      SHSecuritiesAccountID = #{shsecuritiesaccountid,jdbcType=VARCHAR},
      SZSecuritiesAccountID = #{szsecuritiesaccountid,jdbcType=VARCHAR},
      TAAccountID = #{taaccountid,jdbcType=VARCHAR},
      TelNo = #{telno,jdbcType=VARCHAR},
      TradingMethod = #{tradingmethod,jdbcType=VARCHAR},
      MinorFlag = #{minorflag,jdbcType=VARCHAR},
      DeliverType = #{delivertype,jdbcType=VARCHAR},
      TransactorIDType = #{transactoridtype,jdbcType=VARCHAR},
      AccountCardID = #{accountcardid,jdbcType=VARCHAR},
      DeliverWay = #{deliverway,jdbcType=VARCHAR},
      Nationality = #{nationality,jdbcType=VARCHAR},
      NetNo = #{netno,jdbcType=VARCHAR},
      Broker = #{broker,jdbcType=VARCHAR},
      CorpName = #{corpname,jdbcType=VARCHAR},
      CertValidDate = #{certvaliddate,jdbcType=VARCHAR},
      InstTranCertValidDate = #{insttrancertvaliddate,jdbcType=VARCHAR},
      InstReprCertValidDate = #{instreprcertvaliddate,jdbcType=VARCHAR},
      ClientRiskRate = #{clientriskrate,jdbcType=VARCHAR},
      InstReprManageRange = #{instreprmanagerange,jdbcType=VARCHAR},
      ControlHolder = #{controlholder,jdbcType=VARCHAR},
      ActualController = #{actualcontroller,jdbcType=VARCHAR},
      MarriageStatus = #{marriagestatus,jdbcType=VARCHAR},
      FamilyNum = #{familynum,jdbcType=INTEGER},
      Penates = #{penates,jdbcType=DECIMAL},
      MediaHobby = #{mediahobby,jdbcType=VARCHAR},
      EnglishFirstName = #{englishfirstname,jdbcType=VARCHAR},
      EnglishFamliyName = #{englishfamliyname,jdbcType=VARCHAR},
      Vocation = #{vocation,jdbcType=VARCHAR},
      CorpoProperty = #{corpoproperty,jdbcType=VARCHAR},
      StaffNum = #{staffnum,jdbcType=INTEGER},
      Hobbytype = #{hobbytype,jdbcType=VARCHAR},
      Province = #{province,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      County = #{county,jdbcType=VARCHAR},
      CommendPerson = #{commendperson,jdbcType=VARCHAR},
      CommendPersonType = #{commendpersontype,jdbcType=VARCHAR},
      AcctNameOfInvestorInClearingAgency = #{acctnameofinvestorinclearingagency,jdbcType=VARCHAR},
      AcctNoOfInvestorInClearingAgency = #{acctnoofinvestorinclearingagency,jdbcType=VARCHAR},
      ClearingAgency = #{clearingagency,jdbcType=VARCHAR},
      AcceptMethod = #{acceptmethod,jdbcType=VARCHAR},
      FrozenCause = #{frozencause,jdbcType=VARCHAR},
      FreezingDeadline = #{freezingdeadline,jdbcType=VARCHAR},
      OriginalSerialNo = #{originalserialno,jdbcType=VARCHAR},
      OriginalAppSheetNo = #{originalappsheetno,jdbcType=VARCHAR},
      Specification = #{specification,jdbcType=VARCHAR},
      TACode = #{tacode,jdbcType=VARCHAR},
      ReferenceNumber = #{referencenumber,jdbcType=INTEGER}
    where AppSheetSerialNo = #{appsheetserialno,jdbcType=VARCHAR}
  </update>
</mapper>