<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.AcctShareMapper">

    <!--    AcctShareMapper.xml-->

    <select id="selectByPrimaryKey" resultType="AcctShare">
        select *
        from mybatis.acct_share
        where TAAccountID = #{id}
    </select>


    <delete id="deleteByPrimaryKey">
        delete
        from mybatis.acct_share
        where TAAccountID = #{id}
    </delete>


    <insert id="insert" parameterType="com.psbc.pojo.AcctShare">
        insert into mybatis.acct_share (TAAccountID,
                                        DistributorCode,
                                        TACode,
                                        TotalVolOfDistributorInTA,
                                        TotalFrozenVol,
                                        TransactionCfmDate)

        values (#{TAAccountID},
                #{DistributorCode},
                #{TACode},
                #{TotalVolOfDistributorInTA},
                #{TotalFrozenVol},
                #{TransactionCfmDate})

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.AcctShare">
        update mybatis.acct_share
        set DistributorCode= #{DistributorCode},
            TACode= #{TACode},
            TotalVolOfDistributorInTA= #{TotalVolOfDistributorInTA},
            TotalFrozenVol= #{TotalFrozenVol},
            TransactionCfmDate= #{TransactionCfmDate}

        where TAAccountID = #{TAAccountID}
    </update>
</mapper>