<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.FundParaConfigMapper">

    <!--    FundParaConfigMapper.xml-->

    <select id="selectByPrimaryKey" resultType="FundParaConfig">
        select *
        from fund_para_config
        where TAAccountID = #{id}
    </select>


    <delete id="deleteByPrimaryKey">
        delete
        from fund_para_config
        where TAAccountID = #{id}
    </delete>


    <insert id="insert" parameterType="com.psbc.pojo.FundParaConfig">
        insert into fund_para_config (FundParaID,
                                      DistributorCode,
                                      FundCode,
                                      DownLoaddate,
                                      PrdRiskRate,
                                      DebtFundType,
                                      AllowClientGroup,
                                      FinancialRegistrationCode,
                                      SaleObject,
                                      IsCycleFund,
                                      CycleDays,
                                      CycleNums,
                                      DefCycleNums,
                                      BreachOfContractFee,
                                      LCFundType,
                                      IPOType,
                                      InvestmentTargets,
                                      ClearDays,
                                      RedeemAmtDays,
                                      DivAmtDays,
                                      FundEndDays,
                                      FundIssuanceFailDays,
                                      CashFlag,
                                      IncomeEndDate,
                                      IncomeCurrType,
                                      CostCurrType,
                                      ChoiceBonusType,
                                      CancelOrderType,
                                      BuyUpperLimitday,
                                      IsPartRedeem,
                                      LargeRedeemRatio,
                                      RedeemAmtReturn,
                                      FundMinBala,
                                      FundMaXBala,
                                      Subscribemode,
                                      Purchasemode,
                                      RealRedeemRatio,
                                      RealRedeemUpperLimitOfDay,
                                      RealRedeemUpperLimitOfSolo,
                                      ShareDoMethod,
                                      OrgRedeemBase,
                                      PerRedeemBase,
                                      ComparisonRatio,
                                      FundIssuer,
                                      ManagementBasic,
                                      ExcessiveRtio,
                                      SubBasic,
                                      SubDelayedDays,
                                      FundCollectAccount,
                                      ExcessiveSubRtio,
                                      InterestRate,
                                      OpenTime,
                                      CloseTime,
                                      ShareClass,
                                      FundNameAbbr,
                                      FinancType,
                                      IsGuaranteedFund,
                                      IsLOFFund,
                                      IsQDIIFund,
                                      IsETFFund,
                                      LxRedeemFeeBackRatio,
                                      RedemptionSequence,
                                      BuyUpperAmount,
                                      CovertInUpperAmount,
                                      PeriodSubUpperAmount,
                                      FundEstablishDate,
                                      ExchangeFlag,
                                      Specification,
                                      WholeFlag,
                                      ModifyWay,
                                      OperateDate,
                                      IssPrice,
                                      IncomeDate,
                                      OMinAccountBalance,
                                      PMinRedemptionVol,
                                      PMinInterconvertVol,
                                      OMinRedemptionVol,
                                      OMinInterconvertVol,
                                      SubcancelFlag,
                                      InterestWay,
                                      PrdProfitKind,
                                      IsAllowPrdRealTimeRansom,
                                      BaseDays,
                                      TransWay,
                                      ParentsPrdCode,
                                      PrdTemplateCode,
                                      AlimitEndDate,
                                      ORedUnit,
                                      OMaxAccuAmt,
                                      PRedUnit,
                                      PMaxAccuAmt,
                                      ModelCOMMENT,
                                      DayBeforeCfm,
                                      BuyIsControlConfirmFlag,
                                      RedeemIsControlConfirmFlag,
                                      ZeroSetUpFlag,
                                      LimitFlag,
                                      AgioType,
                                      SellerLimit,
                                      LockDays,
                                      IsCheckInvester,
                                      ClientCycleMode,
                                      MinCycleDays,
                                      MaxCyleDays,
                                      CycleAllottedDays,
                                      FundBuyAccount,
                                      TACode)
        values (#{FundParaID},
                #{DistributorCode},
                #{FundCode},
                #{DownLoaddate},
                #{PrdRiskRate},
                #{DebtFundType},
                #{AllowClientGroup},
                #{FinancialRegistrationCode},
                #{SaleObject},
                #{IsCycleFund},
                #{CycleDays},
                #{CycleNums},
                #{DefCycleNums},
                #{BreachOfContractFee},
                #{LCFundType},
                #{IPOType},
                #{InvestmentTargets},
                #{ClearDays},
                #{RedeemAmtDays},
                #{DivAmtDays},
                #{FundEndDays},
                #{FundIssuanceFailDays},
                #{CashFlag},
                #{IncomeEndDate},
                #{IncomeCurrType},
                #{CostCurrType},
                #{ChoiceBonusType},
                #{CancelOrderType},
                #{BuyUpperLimitday},
                #{IsPartRedeem},
                #{LargeRedeemRatio},
                #{RedeemAmtReturn},
                #{FundMinBala},
                #{FundMaXBala},
                #{Subscribemode},
                #{Purchasemode},
                #{RealRedeemRatio},
                #{RealRedeemUpperLimitOfDay},
                #{RealRedeemUpperLimitOfSolo},
                #{ShareDoMethod},
                #{OrgRedeemBase},
                #{PerRedeemBase},
                #{ComparisonRatio},
                #{FundIssuer},
                #{ManagementBasic},
                #{ExcessiveRtio},
                #{SubBasic},
                #{SubDelayedDays},
                #{FundCollectAccount},
                #{ExcessiveSubRtio},
                #{InterestRate},
                #{OpenTime},
                #{CloseTime},
                #{ShareClass},
                #{FundNameAbbr},
                #{FinancType},
                #{IsGuaranteedFund},
                #{IsLOFFund},
                #{IsQDIIFund},
                #{IsETFFund},
                #{LxRedeemFeeBackRatio},
                #{RedemptionSequence},
                #{BuyUpperAmount},
                #{CovertInUpperAmount},
                #{PeriodSubUpperAmount},
                #{FundEstablishDate},
                #{ExchangeFlag},
                #{Specification},
                #{WholeFlag},
                #{ModifyWay},
                #{OperateDate},
                #{IssPrice},
                #{IncomeDate},
                #{OMinAccountBalance},
                #{PMinRedemptionVol},
                #{PMinInterconvertVol},
                #{OMinRedemptionVol},
                #{OMinInterconvertVol},
                #{SubcancelFlag},
                #{InterestWay},
                #{PrdProfitKind},
                #{IsAllowPrdRealTimeRansom},
                #{BaseDays},
                #{TransWay},
                #{ParentsPrdCode},
                #{PrdTemplateCode},
                #{AlimitEndDate},
                #{ORedUnit},
                #{OMaxAccuAmt},
                #{PRedUnit},
                #{PMaxAccuAmt},
                #{ModelCOMMENT},
                #{DayBeforeCfm},
                #{BuyIsControlConfirmFlag},
                #{RedeemIsControlConfirmFlag},
                #{ZeroSetUpFlag},
                #{LimitFlag},
                #{AgioType},
                #{SellerLimit},
                #{LockDays},
                #{IsCheckInvester},
                #{ClientCycleMode},
                #{MinCycleDays},
                #{MaxCyleDays},
                #{CycleAllottedDays},
                #{FundBuyAccount},
                #{TACode})

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.FundParaConfig">
        update fund_para_config
        set FundParaID                 = #{FundParaID},
            DistributorCode            = #{DistributorCode},
            FundCode                   = #{FundCode},
            DownLoaddate               = #{DownLoaddate},
            PrdRiskRate                = #{PrdRiskRate},
            DebtFundType               = #{DebtFundType},
            AllowClientGroup           = #{AllowClientGroup},
            FinancialRegistrationCode  = #{FinancialRegistrationCode},
            SaleObject                 = #{SaleObject},
            IsCycleFund                = #{IsCycleFund},
            CycleDays                  = #{CycleDays},
            CycleNums                  = #{CycleNums},
            DefCycleNums               = #{DefCycleNums},
            BreachOfContractFee        = #{BreachOfContractFee},
            LCFundType                 = #{LCFundType},
            IPOType                    = #{IPOType},
            InvestmentTargets          = #{InvestmentTargets},
            ClearDays                  = #{ClearDays},
            RedeemAmtDays              = #{RedeemAmtDays},
            DivAmtDays                 = #{DivAmtDays},
            FundEndDays                = #{FundEndDays},
            FundIssuanceFailDays       = #{FundIssuanceFailDays},
            CashFlag                   = #{CashFlag},
            IncomeEndDate              = #{IncomeEndDate},
            IncomeCurrType             = #{IncomeCurrType},
            CostCurrType               = #{CostCurrType},
            ChoiceBonusType            = #{ChoiceBonusType},
            CancelOrderType            = #{CancelOrderType},
            BuyUpperLimitday           = #{BuyUpperLimitday},
            IsPartRedeem               = #{IsPartRedeem},
            LargeRedeemRatio           = #{LargeRedeemRatio},
            RedeemAmtReturn            = #{RedeemAmtReturn},
            FundMinBala                = #{FundMinBala},
            FundMaXBala                = #{FundMaXBala},
            Subscribemode              = #{Subscribemode},
            Purchasemode               = #{Purchasemode},
            RealRedeemRatio            = #{RealRedeemRatio},
            RealRedeemUpperLimitOfDay  = #{RealRedeemUpperLimitOfDay},
            RealRedeemUpperLimitOfSolo = #{RealRedeemUpperLimitOfSolo},
            ShareDoMethod              = #{ShareDoMethod},
            OrgRedeemBase              = #{OrgRedeemBase},
            PerRedeemBase              = #{PerRedeemBase},
            ComparisonRatio            = #{ComparisonRatio},
            FundIssuer                 = #{FundIssuer},
            ManagementBasic            = #{ManagementBasic},
            ExcessiveRtio              = #{ExcessiveRtio},
            SubBasic                   = #{SubBasic},
            SubDelayedDays             = #{SubDelayedDays},
            FundCollectAccount         = #{FundCollectAccount},
            ExcessiveSubRtio           = #{ExcessiveSubRtio},
            InterestRate               = #{InterestRate},
            OpenTime                   = #{OpenTime},
            CloseTime                  = #{CloseTime},
            ShareClass                 = #{ShareClass},
            FundNameAbbr               = #{FundNameAbbr},
            FinancType                 = #{FinancType},
            IsGuaranteedFund           = #{IsGuaranteedFund},
            IsLOFFund                  = #{IsLOFFund},
            IsQDIIFund                 = #{IsQDIIFund},
            IsETFFund                  = #{IsETFFund},
            LxRedeemFeeBackRatio       = #{LxRedeemFeeBackRatio},
            RedemptionSequence         = #{RedemptionSequence},
            BuyUpperAmount             = #{BuyUpperAmount},
            CovertInUpperAmount        = #{CovertInUpperAmount},
            PeriodSubUpperAmount       = #{PeriodSubUpperAmount},
            FundEstablishDate          = #{FundEstablishDate},
            ExchangeFlag               = #{ExchangeFlag},
            Specification              = #{Specification},
            WholeFlag                  = #{WholeFlag},
            ModifyWay                  = #{ModifyWay},
            OperateDate                = #{OperateDate},
            IssPrice                   = #{IssPrice},
            IncomeDate                 = #{IncomeDate},
            OMinAccountBalance         = #{OMinAccountBalance},
            PMinRedemptionVol          = #{PMinRedemptionVol},
            PMinInterconvertVol        = #{PMinInterconvertVol},
            OMinRedemptionVol          = #{OMinRedemptionVol},
            OMinInterconvertVol        = #{OMinInterconvertVol},
            SubcancelFlag              = #{SubcancelFlag},
            InterestWay                = #{InterestWay},
            PrdProfitKind              = #{PrdProfitKind},
            IsAllowPrdRealTimeRansom   = #{IsAllowPrdRealTimeRansom},
            BaseDays                   = #{BaseDays},
            TransWay                   = #{TransWay},
            ParentsPrdCode             = #{ParentsPrdCode},
            PrdTemplateCode            = #{PrdTemplateCode},
            AlimitEndDate              = #{AlimitEndDate},
            ORedUnit                   = #{ORedUnit},
            OMaxAccuAmt                = #{OMaxAccuAmt},
            PRedUnit                   = #{PRedUnit},
            PMaxAccuAmt                = #{PMaxAccuAmt},
            ModelCOMMENT               = #{ModelCOMMENT},
            DayBeforeCfm               = #{DayBeforeCfm},
            BuyIsControlConfirmFlag    = #{BuyIsControlConfirmFlag},
            RedeemIsControlConfirmFlag = #{RedeemIsControlConfirmFlag},
            ZeroSetUpFlag              = #{ZeroSetUpFlag},
            LimitFlag                  = #{LimitFlag},
            AgioType                   = #{AgioType},
            SellerLimit                = #{SellerLimit},
            LockDays                   = #{LockDays},
            IsCheckInvester            = #{IsCheckInvester},
            ClientCycleMode            = #{ClientCycleMode},
            MinCycleDays               = #{MinCycleDays},
            MaxCyleDays                = #{MaxCyleDays},
            CycleAllottedDays          = #{CycleAllottedDays},
            FundBuyAccount             = #{FundBuyAccount},
            TACode                     = #{TACode}
        where TAAccountID = #{TAAccountID}
    </update>
</mapper>