<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.TransactionConfirmationMapper">

    <!--    TransactionConfirmationMapper.xml-->

    <select id="selectByPrimaryKey" resultType="TransactionConfirmation">
        select *
        from mybatis.transaction_confirmation
        where TAAccountID = #{id}
    </select>


    <delete id="deleteByPrimaryKey">
        delete
        from mybatis.transaction_confirmation
        where TAAccountID = #{id}
    </delete>


    <insert id="insert" parameterType="com.psbc.pojo.TransactionConfirmation">
        insert into mybatis.transaction_confirmation (
        ConfirmID,
        TransactionCfmDate,
        ConfirmedVol,
        ConfirmedAmount,
        TransactionDate,
        TransactionTime,
        ReturnCode,
        BusinessCode,
        BusinessFinishFlag,
        RegionCode,
        DownLoaddate,
        AgencyFee,
        NAV,
        OtherFee1,
        StampDuty,
        RateFee,
        Specification,
        TransferDirection,
        Interest,
        VolumeByInterest,
        InterestTax,
        TradingPrice,
        Tax,
        TargetNAV,
        TargetFundPrice,
        CfmVolOfTargetFund,
        MinFee,
        OtherFee2,
        TransferFee,
        FromTAFlag,
        RedemptionInAdvanceFlag,
        FrozenMethod,
        RedemptionReason,
        TotalTransFee,
        AlternationDate,
        RefundAmount,
        SalePercent,
        ManagerRealRatio,
        ChangeFee,
        RecuperateFee,
        AchievementPay,
        AchievementCompen,
        SharesAdjustmentFlag,
        GeneralTASerialNO,
        UndistributeMonetaryIncome,
        UndistributeMonetaryIncomeFlag,
        BreachFee,
        BreachFeeBackToFund,
        PunishFee,
        ChangeAgencyFee,
        RecuperateAgencyFee,
        ErrorDetail,
        RaiseInterest,
        FeeCalculator,
        ShareRegisterDate,
        TotalFrozenVol,
        FundVolBalance,
        FrozenBalance,
        TransferDateThroughClearingAgency,
        AppSheetSerialNo,
        DistributorCode,
        ReferenceNumber
        values (
         #{ConfirmID},
         #{TransactionCfmDate},
         #{ConfirmedVol},
         #{ConfirmedAmount},
         #{TransactionDate},
         #{TransactionTime},
         #{ReturnCode},
         #{BusinessCode},
         #{BusinessFinishFlag},
         #{RegionCode},
         #{DownLoaddate},
         #{AgencyFee},
         #{NAV},
         #{OtherFee1},
         #{StampDuty},
         #{RateFee},
         #{Specification},
         #{TransferDirection},
         #{Interest},
         #{VolumeByInterest},
         #{InterestTax},
         #{TradingPrice},
         #{Tax},
         #{TargetNAV},
         #{TargetFundPrice},
         #{CfmVolOfTargetFund},
         #{MinFee},
         #{OtherFee2},
         #{TransferFee},
         #{FromTAFlag},
         #{RedemptionInAdvanceFlag},
         #{FrozenMethod},
         #{RedemptionReason},
         #{TotalTransFee},
         #{AlternationDate},
         #{RefundAmount},
         #{SalePercent},
         #{ManagerRealRatio},
         #{ChangeFee},
         #{RecuperateFee},
         #{AchievementPay},
         #{AchievementCompen},
         #{SharesAdjustmentFlag},
         #{GeneralTASerialNO},
         #{UndistributeMonetaryIncome},
         #{UndistributeMonetaryIncomeFlag},
         #{BreachFee},
         #{BreachFeeBackToFund},
         #{PunishFee},
         #{ChangeAgencyFee},
         #{RecuperateAgencyFee},
         #{ErrorDetail},
         #{RaiseInterest},
         #{FeeCalculator},
         #{ShareRegisterDate},
         #{TotalFrozenVol},
         #{FundVolBalance},
         #{FrozenBalance},
         #{TransferDateThroughClearingAgency},
         #{AppSheetSerialNo},
         #{DistributorCode},
         #{ReferenceNumber}
        )

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.TransactionConfirmation">
        update mybatis.transaction_confirmation
        set
               ConfirmID                        =   #{ConfirmID},
               TransactionCfmDate               =   #{TransactionCfmDate},
               ConfirmedVol                     =   #{ConfirmedVol},
               ConfirmedAmount                  =   #{ConfirmedAmount},
               TransactionDate                  =   #{TransactionDate},
               TransactionTime                  =   #{TransactionTime},
               ReturnCode                       =   #{ReturnCode},
               BusinessCode                     =   #{BusinessCode},
               BusinessFinishFlag               =   #{BusinessFinishFlag},
               RegionCode                       =   #{RegionCode},
               DownLoaddate                     =   #{DownLoaddate},
               AgencyFee                        =   #{AgencyFee},
               NAV                              =   #{NAV},
               OtherFee1                        =   #{OtherFee1},
               StampDuty                        =   #{StampDuty},
               RateFee                          =   #{RateFee},
               Specification                    =   #{Specification},
               TransferDirection                =   #{TransferDirection},
               Interest                         =   #{Interest},
               VolumeByInterest                 =   #{VolumeByInterest},
               InterestTax                      =   #{InterestTax},
               TradingPrice                     =   #{TradingPrice},
               Tax                              =   #{Tax},
               TargetNAV                        =   #{TargetNAV},
               TargetFundPrice                  =   #{TargetFundPrice},
               CfmVolOfTargetFund               =   #{CfmVolOfTargetFund},
               MinFee                           =   #{MinFee},
               OtherFee2                        =   #{OtherFee2},
               TransferFee                      =   #{TransferFee},
               FromTAFlag                       =   #{FromTAFlag},
               RedemptionInAdvanceFlag          =   #{RedemptionInAdvanceFlag},
               FrozenMethod                     =   #{FrozenMethod},
               RedemptionReason                 =   #{RedemptionReason},
               TotalTransFee                    =   #{TotalTransFee},
               AlternationDate                  =   #{AlternationDate},
               RefundAmount                     =   #{RefundAmount},
               SalePercent                      =   #{SalePercent},
               ManagerRealRatio                 =   #{ManagerRealRatio},
               ChangeFee                        =   #{ChangeFee},
               RecuperateFee                    =   #{RecuperateFee},
               AchievementPay                   =   #{AchievementPay},
               AchievementCompen                =   #{AchievementCompen},
               SharesAdjustmentFlag             =   #{SharesAdjustmentFlag},
               GeneralTASerialNO                =   #{GeneralTASerialNO},
               UndistributeMonetaryIncome       =   #{UndistributeMonetaryIncome},
               UndistributeMonetaryIncomeFlag   =   #{UndistributeMonetaryIncomeFlag},
               BreachFee                        =   #{BreachFee},
               BreachFeeBackToFund              =   #{BreachFeeBackToFund},
               PunishFee                        =   #{PunishFee},
               ChangeAgencyFee                  =   #{ChangeAgencyFee},
               RecuperateAgencyFee              =   #{RecuperateAgencyFee},
               ErrorDetail                      =   #{ErrorDetail},
               RaiseInterest                    =   #{RaiseInterest},
               FeeCalculator                    =   #{FeeCalculator},
               ShareRegisterDate                =   #{ShareRegisterDate},
               TotalFrozenVol                   =   #{TotalFrozenVol},
               FundVolBalance                   =   #{FundVolBalance},
               FrozenBalance                    =   #{FrozenBalance},
               TransferDateThroughClearingAgency=   #{TransferDateThroughClearingAgency},
               AppSheetSerialNo                 =   #{AppSheetSerialNo},
               DistributorCode                  =   #{DistributorCode},
               ReferenceNumber                  =   #{ReferenceNumber}
            where TAAccountID = #{TAAccountID}
    </update>
</mapper>