<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.TransactionExpectationMapper">

    <!--    TransactionExpectationMapper.xml-->

    <select id="selectByPrimaryKey" resultType="TransactionExpectation">
        select *
        from transaction_expectation
        where AppSheetSerialNo = #{id}
    </select>


    <delete id="deleteByPrimaryKey">
        delete
        from transaction_expectation
        where AppSheetSerialNo = #{id}
    </delete>


    <insert id="insert" parameterType="com.psbc.pojo.TransactionExpectation">
        insert into transaction_expectation (AppSheetSerialNo,
                                             TransactionCfmDate,
                                             ConfirmedVol,
                                             ConfirmedAmount,
                                             ReturnCode,
                                             BusinessFinishFlag,
                                             RegionCode,
                                             AgencyFee,
                                             NAV,
                                             OtherFee1,
                                             StampDuty,
                                             RateFee,
                                             Specification,
                                             TransferDirection,
                                             Interest,
                                             VolumeByInterest,
                                             InterestTax,
                                             TradingPrice,
                                             Tax,
                                             TargetNAV,
                                             TargetFundPrice,
                                             CfmVolOfTargetFund,
                                             MinFee,
                                             OtherFee2,
                                             TransferFee,
                                             FromTAFlag,
                                             RedemptionInAdvanceFlag,
                                             FrozenMethod,
                                             RedemptionReason,
                                             TotalTransFee,
                                             AlternationDate,
                                             RefundAmount,
                                             SalePercent,
                                             ManagerRealRatio,
                                             ChangeFee,
                                             RecuperateFee,
                                             AchievementPay,
                                             AchievementCompen,
                                             SharesAdjustmentFlag,
                                             UndistributeMonetaryIncome,
                                             UndistributeMonetaryIncomeFlag,
                                             BreachFee,
                                             BreachFeeBackToFund,
                                             PunishFee,
                                             ChangeAgencyFee,
                                             RecuperateAgencyFee,
                                             ErrorDetail,
                                             RaiseInterest,
                                             FeeCalculator,
                                             ShareRegisterDate,
                                             TotalFrozenVol,
                                             FundVolBalance,
                                             FrozenBalance,
                                             TransferDateThroughClearingAgency,
                                             Status)
        values (#{AppSheetSerialNo},
                #{TransactionCfmDate},
                #{ConfirmedVol},
                #{ConfirmedAmount},
                #{ReturnCode},
                #{BusinessFinishFlag},
                #{RegionCode},
                #{AgencyFee},
                #{NAV},
                #{OtherFee1},
                #{StampDuty},
                #{RateFee},
                #{Specification},
                #{TransferDirection},
                #{Interest},
                #{VolumeByInterest},
                #{InterestTax},
                #{TradingPrice},
                #{Tax},
                #{TargetNAV},
                #{TargetFundPrice},
                #{CfmVolOfTargetFund},
                #{MinFee},
                #{OtherFee2},
                #{TransferFee},
                #{FromTAFlag},
                #{RedemptionInAdvanceFlag},
                #{FrozenMethod},
                #{RedemptionReason},
                #{TotalTransFee},
                #{AlternationDate},
                #{RefundAmount},
                #{SalePercent},
                #{ManagerRealRatio},
                #{ChangeFee},
                #{RecuperateFee},
                #{AchievementPay},
                #{AchievementCompen},
                #{SharesAdjustmentFlag},
                #{UndistributeMonetaryIncome},
                #{UndistributeMonetaryIncomeFlag},
                #{BreachFee},
                #{BreachFeeBackToFund},
                #{PunishFee},
                #{ChangeAgencyFee},
                #{RecuperateAgencyFee},
                #{ErrorDetail},
                #{RaiseInterest},
                #{FeeCalculator},
                #{ShareRegisterDate},
                #{TotalFrozenVol},
                #{FundVolBalance},
                #{FrozenBalance},
                #{TransferDateThroughClearingAgency},
                #{Status})

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.TransactionExpectation">
        update transaction_expectation
        set TransactionCfmDate                = #{TransactionCfmDate},
            ConfirmedVol                      = #{ConfirmedVol},
            ConfirmedAmount                   = #{ConfirmedAmount},
            ReturnCode                        = #{ReturnCode},
            BusinessFinishFlag                = #{BusinessFinishFlag},
            RegionCode                        = #{RegionCode},
            AgencyFee                         = #{AgencyFee},
            NAV                               = #{NAV},
            OtherFee1                         = #{OtherFee1},
            StampDuty                         = #{StampDuty},
            RateFee                           = #{RateFee},
            Specification                     = #{Specification},
            TransferDirection                 = #{TransferDirection},
            Interest                          = #{Interest},
            VolumeByInterest                  = #{VolumeByInterest},
            InterestTax                       = #{InterestTax},
            TradingPrice                      = #{TradingPrice},
            Tax                               = #{Tax},
            TargetNAV                         = #{TargetNAV},
            TargetFundPrice                   = #{TargetFundPrice},
            CfmVolOfTargetFund                = #{CfmVolOfTargetFund},
            MinFee                            = #{MinFee},
            OtherFee2                         = #{OtherFee2},
            TransferFee                       = #{TransferFee},
            FromTAFlag                        = #{FromTAFlag},
            RedemptionInAdvanceFlag           = #{RedemptionInAdvanceFlag},
            FrozenMethod                      = #{FrozenMethod},
            RedemptionReason                  = #{RedemptionReason},
            TotalTransFee                     = #{TotalTransFee},
            AlternationDate                   = #{AlternationDate},
            RefundAmount                      = #{RefundAmount},
            SalePercent                       = #{SalePercent},
            ManagerRealRatio                  = #{ManagerRealRatio},
            ChangeFee                         = #{ChangeFee},
            RecuperateFee                     = #{RecuperateFee},
            AchievementPay                    = #{AchievementPay},
            AchievementCompen                 = #{AchievementCompen},
            SharesAdjustmentFlag              = #{SharesAdjustmentFlag},
            UndistributeMonetaryIncome        = #{UndistributeMonetaryIncome},
            UndistributeMonetaryIncomeFlag    = #{UndistributeMonetaryIncomeFlag},
            BreachFee                         = #{BreachFee},
            BreachFeeBackToFund               = #{BreachFeeBackToFund},
            PunishFee                         = #{PunishFee},
            ChangeAgencyFee                   = #{ChangeAgencyFee},
            RecuperateAgencyFee               = #{RecuperateAgencyFee},
            ErrorDetail                       = #{ErrorDetail},
            RaiseInterest                     = #{RaiseInterest},
            FeeCalculator                     = #{FeeCalculator},
            ShareRegisterDate                 = #{ShareRegisterDate},
            TotalFrozenVol                    = #{TotalFrozenVol},
            FundVolBalance                    = #{FundVolBalance},
            FrozenBalance                     = #{FrozenBalance},
            TransferDateThroughClearingAgency = #{TransferDateThroughClearingAgency},
            Status                            = #{Status}
        where AppSheetSerialNo = #{AppSheetSerialNo}
    </update>
</mapper>