<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psbc.mapper.TransactionApplicationMapper">

    <!--    TransactionApplicationMapper.xml-->

    <select id="selectByPrimaryKey" resultType="TransactionApplication">
        select *
        from transaction_application
        where TAAccountID = #{id}
    </select>


    <delete id="deleteByPrimaryKey">
        delete
        from transaction_application
        where TAAccountID = #{id}
    </delete>


    <insert id="insert" parameterType="com.psbc.pojo.TransactionApplication">
        insert into transaction_application (AppSheetSerialNo,
                                             FundCode,
                                             LargeRedemptionFlag,
                                             TransactionDate,
                                             TransactionTime,
                                             TransactionAccountID,
                                             DistributorCode,
                                             ApplicationVol,
                                             ApplicationAmount,
                                             BusinessCode,
                                             TAAccountID,
                                             DiscountRateOfCommission,
                                             DepositAcct,
                                             RegionCode,
                                             CurrencyType,
                                             BranchCode,
                                             OriginalAppSheetNo,
                                             OriginalSubsDate,
                                             IndividualOrInstitution,
                                             ValidPeriod,
                                             DaysRedemptionInAdvance,
                                             RedemptionDateInAdvance,
                                             OriginalSerialNo,
                                             DateOfPeriodicSubs,
                                             TASerialNO,
                                             TermOfPeriodicSubs,
                                             FutureBuyDate,
                                             TargetDistributorCode,
                                             Charge,
                                             TargetBranchCode,
                                             TargetTransactionAccountID,
                                             TargetRegionCode,
                                             DividendRatio,
                                             Specification,
                                             CodeOfTargetFund,
                                             TotalBackendLoa,
                                             ShareClass,
                                             OriginalCfmDate,
                                             DetailFlag,
                                             OriginalAppDate,
                                             DefDividendMethod,
                                             FrozenCause,
                                             FreezingDeadline,
                                             VarietyCodeOfPeriodicSubs,
                                             SerialNoOfPeriodicSubs,
                                             RationType,
                                             TargetTAAccountID,
                                             TargetRegistrarCode,
                                             NetNo,
                                             CustomerNo,
                                             TargetShareType,
                                             RationProtocolNo,
                                             BeginDateOfPeriodicSubs,
                                             EndDateOfPeriodicSubs,
                                             SendDayOfPeriodicSubs,
                                             Broker,
                                             SalesPromotion,
                                             AcceptMethod,
                                             ForceRedemptionType,
                                             TakeIncomeFlag,
                                             PurposeOfPeSubs,
                                             FrequencyOfPeSubs,
                                             PeriodSubTimeUnit,
                                             BatchNumOfPeSubs,
                                             CapitalMode,
                                             DetailCapitalMode,
                                             BackenloadDiscount,
                                             CombineNum,
                                             FutureSubscribeDate,
                                             TradingMethod,
                                             LargeBuyFlag,
                                             ChargeType,
                                             SpecifyRateFee,
                                             SpecifyFee,
                                             TACode,
                                             ReferenceNumber)
        values (#{AppSheetSerialNo},
                #{FundCode},
                #{LargeRedemptionFlag},
                #{TransactionDate},
                #{TransactionTime},
                #{TransactionAccountID},
                #{DistributorCode},
                #{ApplicationVol},
                #{ApplicationAmount},
                #{BusinessCode},
                #{TAAccountID},
                #{DiscountRateOfCommissio},
                #{DepositAcct},
                #{RegionCode},
                #{CurrencyType},
                #{BranchCode},
                #{OriginalAppSheetNo},
                #{OriginalSubsDate},
                #{IndividualOrInstitution},
                #{ValidPeriod},
                #{DaysRedemptionInAdvance},
                #{RedemptionDateInAdvance},
                #{OriginalSerialNo},
                #{DateOfPeriodicSubs},
                #{TASerialNO},
                #{TermOfPeriodicSubs},
                #{FutureBuyDate},
                #{TargetDistributorCode},
                #{Charge},
                #{TargetBranchCode},
                #{TargetTransactionAccoun},
                #{TargetRegionCode},
                #{DividendRatio},
                #{Specification},
                #{CodeOfTargetFund},
                #{TotalBackendLoa},
                #{ShareClass},
                #{OriginalCfmDate},
                #{DetailFlag},
                #{OriginalAppDate},
                #{DefDividendMethod},
                #{FrozenCause},
                #{FreezingDeadline},
                #{VarietyCodeOfPeriodicSu},
                #{SerialNoOfPeriodicSubs},
                #{RationType},
                #{TargetTAAccountID},
                #{TargetRegistrarCode},
                #{NetNo},
                #{CustomerNo},
                #{TargetShareType},
                #{RationProtocolNo},
                #{BeginDateOfPeriodicSubs},
                #{EndDateOfPeriodicSubs},
                #{SendDayOfPeriodicSubs},
                #{Broker},
                #{SalesPromotion},
                #{AcceptMethod},
                #{ForceRedemptionType},
                #{TakeIncomeFlag},
                #{PurposeOfPeSubs},
                #{FrequencyOfPeSubs},
                #{PeriodSubTimeUnit},
                #{BatchNumOfPeSubs},
                #{CapitalMode},
                #{DetailCapitalMode},
                #{BackenloadDiscount},
                #{CombineNum},
                #{FutureSubscribeDate},
                #{TradingMethod},
                #{LargeBuyFlag},
                #{ChargeType},
                #{SpecifyRateFee},
                #{SpecifyFee},
                #{TACode},
                #{ReferenceNumber})

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.psbc.pojo.TransactionApplication">
        update transaction_application
        set AppSheetSerialNo        = #{AppSheetSerialNo},
            FundCode                = #{FundCode},
            LargeRedemptionFlag     = #{LargeRedemptionFlag},
            TransactionDate         = #{TransactionDate},
            TransactionTime         = #{TransactionTime},
            TransactionAccountID    = #{TransactionAccountID},
            DistributorCode         = #{DistributorCode},
            ApplicationVol          = #{ApplicationVol},
            ApplicationAmount       = #{ApplicationAmount},
            BusinessCode            = #{BusinessCode},
            TAAccountID             = #{TAAccountID},
            DiscountRateOfCommissio = #{DiscountRateOfCommissio},
            DepositAcct             = #{DepositAcct},
            RegionCode              = #{RegionCode},
            CurrencyType            = #{CurrencyType},
            BranchCode              = #{BranchCode},
            OriginalAppSheetNo      = #{OriginalAppSheetNo},
            OriginalSubsDate        = #{OriginalSubsDate},
            IndividualOrInstitution = #{IndividualOrInstitution},
            ValidPeriod             = #{ValidPeriod},
            DaysRedemptionInAdvance = #{DaysRedemptionInAdvance},
            RedemptionDateInAdvance = #{RedemptionDateInAdvance},
            OriginalSerialNo        = #{OriginalSerialNo},
            DateOfPeriodicSubs      = #{DateOfPeriodicSubs},
            TASerialNO              = #{TASerialNO},
            TermOfPeriodicSubs      = #{TermOfPeriodicSubs},
            FutureBuyDate           = #{FutureBuyDate},
            TargetDistributorCode   = #{TargetDistributorCode},
            Charge                  = #{Charge},
            TargetBranchCode        = #{TargetBranchCode},
            TargetTransactionAccounID, = #{TargetTransactionAccoun},
            TargetRegionCode = #{TargetRegionCode},
            DividendRatio = #{DividendRatio},
            Specification = #{Specification},
            CodeOfTargetFund = #{CodeOfTargetFund},
            TotalBackendLoa = #{TotalBackendLoa},
            ShareClass = #{ShareClass},
            OriginalCfmDate = #{OriginalCfmDate},
            DetailFlag = #{DetailFlag},
            OriginalAppDate = #{OriginalAppDate},
            DefDividendMethod = #{DefDividendMethod},
            FrozenCause = #{FrozenCause},
            FreezingDeadline = #{FreezingDeadline},
            VarietyCodeOfPeriodicSus, = #{VarietyCodeOfPeriodicSu},
            SerialNoOfPeriodicSubs = #{SerialNoOfPeriodicSubs},
            RationType = #{RationType},
            TargetTAAccountID = #{TargetTAAccountID},
            TargetRegistrarCode = #{TargetRegistrarCode},
            NetNo = #{NetNo},
            CustomerNo = #{CustomerNo},
            TargetShareType = #{TargetShareType},
            RationProtocolNo = #{RationProtocolNo},
            BeginDateOfPeriodicSubs = #{BeginDateOfPeriodicSubs},
            EndDateOfPeriodicSubs = #{EndDateOfPeriodicSubs},
            SendDayOfPeriodicSubs = #{SendDayOfPeriodicSubs},
            Broker = #{Broker},
            SalesPromotion = #{SalesPromotion},
            AcceptMethod = #{AcceptMethod},
            ForceRedemptionType = #{ForceRedemptionType},
            TakeIncomeFlag = #{TakeIncomeFlag},
            PurposeOfPeSubs = #{PurposeOfPeSubs},
            FrequencyOfPeSubs = #{FrequencyOfPeSubs},
            PeriodSubTimeUnit = #{PeriodSubTimeUnit},
            BatchNumOfPeSubs = #{BatchNumOfPeSubs},
            CapitalMode = #{CapitalMode},
            DetailCapitalMode = #{DetailCapitalMode},
            BackenloadDiscount = #{BackenloadDiscount},
            CombineNum = #{CombineNum},
            FutureSubscribeDate = #{FutureSubscribeDate},
            TradingMethod = #{TradingMethod},
            LargeBuyFlag = #{LargeBuyFlag},
            ChargeType = #{ChargeType},
            SpecifyRateFee = #{SpecifyRateFee},
            SpecifyFee = #{SpecifyFee},
            TACode = #{TACode},
            ReferenceNumber = #{ReferenceNumber}
        where TAAccountID = #{TAAccountID}
    </update>
</mapper>